.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button{
        width: 250px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;

        background: none;
        color: var(--text);
        border-image: linear-gradient(to right, var(--primary), var(--gray)) 1;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s;

        &:hover{
            background-color: var(--background-light);
        }
    
        svg{
            font-size: 21px;
            margin-right: 10px;
        }
    
    
    }
}